// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.navbar {
  display: flex;
  justify-content: space-between; /* venstre ↔ højre */
  align-items: center;            /* lodret centrering */

  padding: 20px 40px;
  background-color: white;
}

/* Navn */
.logo {
  font-size: 40px;
  font-family: Playfair Display;
}

/* Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;      /* afstand mellem links */
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-family: Playfair Display;
}

.overskrift1{
  background:rgba(115, 157, 85, 0.3);
  width:100%;
  height:723px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio{
  font-family: Playfair Display;
  font-size: 150px;
  color: #000000;
}